<h1 class="title">このサイトについて</h1>

<div class="callout">
  <p>This is home page of Ronbun Piece Maker. You can make some pieces of a thesis, a report or an essay using this application. Usage is below.</p>

  <p>これは論文のピースメーカーと名前をつけたものです。論文の部品を作るためのアプリです。</p>

  <p>論文には部品となる小さなまとまりがあります。大雑把に、引用とコメント、その引用がなぜ引かれているのかという説明から成り立っています。</p>

  <p>この構成は共通しているので、論文を書くための部品作りに、何か役立つものが作れないかと思ったのです。</p>

  <p>大きな論文を書くのは大変なものです。長い道のりの一歩を踏み進めていくために、このアプリを作りました。</p>

  <p>みなさんの論文作成のお役に立てれば幸せです😌</p>
</div>
